@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Dr. Babb (West Texas A&M University)<br />
    2501 4th Ave, Canyon, TX 79016<br />
    <abbr title="Phone">P:</abbr>
     806.651.2440
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
