@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <!-- <div class="picture-container">
        <img src="~/images/COB_Main.jpg" height="500px" width="800px">
    </div> -->

    <div id="actioncall">
        <div class="jumbotron">
            <h1>Welcome to the Buffteks</h1>
            <p>We are interested in helping students and the communities meet their web and mobile needs. &nbsp;If you are a student, join us in improving your skills. &nbsp;If you are in the local panhandle community and have a website, web application, or
            mobile application need, contact us and see how you can help students reach their educational goals.</p>
        </div>
    </div>
    <div class="container site-section" id="welcome">
            <h1>Come to our meetings!</h1>
            <p>The Buffteks meet every Wednesday Night at 5:30 PM in Classroom Center 205 on the West Texas A&amp;M University Campus in Canyon, Texas</p>
    </div>
    <div>
        <div class="container site-section" id="why">
            <h1>Why Choose Buffteks<br></h1>
            <div class="row">
                <div class="col-md-4 item">
                    <h2>Help Us Learn</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc feugiat egestas erat, a efficitur erat rhoncus sed. Nam a vehicula erat, quis viverra nisl. Nulla viverra dictum urna, nec efficitur enim facilisis in. Fusce tincidunt vehicula
                        massa. Integer nec ante diam. Ut tincidunt leo sit amet justo mattis, at cursus libero feugiat. Morbi placerat nibh lorem, a facilisis purus faucibus vel. Aliquam erat volutpat.<br><br></p>
                </div>
                <div class="col-md-4 item">
                    <h2>Help Us Give</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc feugiat egestas erat, a efficitur erat rhoncus sed. Nam a vehicula erat, quis viverra nisl. Nulla viverra dictum urna, nec efficitur enim facilisis in. Fusce tincidunt vehicula
                        massa. Integer nec ante diam. Ut tincidunt leo sit amet justo mattis, at cursus libero feugiat. Morbi placerat nibh lorem, a facilisis purus faucibus vel. Aliquam erat volutpat.<br><br></p>
                </div>
                <div class="col-md-4 item">
                    <h2>Help Us Grow</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc feugiat egestas erat, a efficitur erat rhoncus sed. Nam a vehicula erat, quis viverra nisl. Nulla viverra dictum urna, nec efficitur enim facilisis in. Fusce tincidunt vehicula
                        massa. Integer nec ante diam. Ut tincidunt leo sit amet justo mattis, at cursus libero feugiat. Morbi placerat nibh lorem, a facilisis purus faucibus vel. Aliquam erat volutpat.<br><br></p>
                </div>
            </div>
        </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox-plus-jquery.min.js"></script>
</body>